{% extends "layouts/base.html" %}

{% block title %} Albums list {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container">
        <div class="row" id="rows">
        {% for album in albums %}
            <div class="card col-lg-4 col-md-12" style="width: 18rem;">

                <img class="card-img-top" src="/static/assets/img/{{album.cover}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{album.name}}</h5>
                    <p class="card-text">{{album.description}}</p>
                    {%if user is not none%}<input name="{{album.id}}" type="button" class="btn btn-primary add-to-cart" value="{{album.price}} (€)"/>
                    {%else%}<p class="btn btn-primary">{{album.price}} (€)</p>{%endif%}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <nav aria-label="Page navigation" style="padding-b;">
        <ul class="pagination justify-content-center">
            {%if page > 1%}
            <li class="page-item"><a class="page-link" href="?page=0">1</a></li>
            <li class="page-item">
                <a class="page-link" href="?page={{page - 1}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>{%endif%}
            <li class="page-item"><a class="page-link" href="#">{{page+1}}</a></li>
            {%if page+1 != max_page %}<li class="page-item">
                <a class="page-link" href="?page={{page + 1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="?page={{max_page-1}}">{{max_page}}</a></li>
            {%endif%}
        </ul>
    </nav>{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $('.add-to-cart').on("click", function(){
        var album_id = $(this).attr("name");
        $.ajax({
            url: "/cart/add",
            type:"POST",
            data: JSON.stringify({"album_id": album_id}),
            dataType : 'json',
            contentType: "application/json; charset=utf-8",
        });
    })
</script>
{% endblock javascripts %}
