{% extends "layouts/base.html" %}

{% block title %} Cart {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container">
        <div class="row">
        {% for album in albums %}
            <div class="card col-lg-4 col-md-12" style="width: 18rem;">
                <img class="card-img-top" src="data:image/png;base64, {{album.cover}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{album.name}}</h5>
                    <p class="card-text">{{album.description}}</p>
                    <p class="btn btn-primary">{{album.price}} (€)</p>
                </div>
            </div>
        {% endfor %}
        </div>
        <p>Total: {{total_price}} €</p>
    </div>
    <form action="/cart/purchase" method="POST">
        <button type="submit" class="btn btn-block btn-primary">Finalize your purchase</button>{%endblock content %}
    </form>
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
