{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Main content -->
    <section>
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center min-vh-100">
                <div class="col-md-6 col-lg-5 col-xl-5 py-6 py-md-0">
                    <div class="card shadow zindex-100 mb-0">
                        <div class="card-body px-md-5 py-5">
                            <div class="mb-5">
                                <h6 class="h3">
                                    MerciYanis Music Store - Register</h6>
                                <p class="text-muted mb-0">
                                    <small>Have an account?</small>
                                    <a href="/login" class="small font-weight-bold">Login</a>
                                </p>
                            </div>

                            <form action="/register" method="POST">
                                <input name="csrf-token" value="{{csrf_token}}" hidden>
                                <div class="form-group">
                                    <label for="email" class="form-control-label">Email</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="name@example.com">
                                </div>

                                <div class="form-group">
                                    <label for="password" class="form-control-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                </div>
                                <div class="mt-4">
                                    <button type="submit" class="btn btn-block btn-primary">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
