{% extends "layouts/base.html" %}

{% block title %} Cart {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<section class="slice py-7">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
                <!-- Image -->
                <figure class="w-100">
                    <img alt="Image placeholder" src="/static/assets/img/svg/illustrations/Music_album.svg" class="img-fluid mw-md-120">
                    <div>Icons made from <a href="https://www.onlinewebfonts.com/icon">svg icons</a>is licensed by CC BY 4.0</div>
                </figure>
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                Thanks for your purchase on
                <h1 class="display-4 text-center text-md-left mb-3">
                    MerciYanis
                    <br />
                    <strong class="text-primary">Music Store</strong>
                </h1>
                <!-- Text -->
                <p class="lead text-center text-md-left text-muted">
                    Developped by <a target="_blank" rel="noopener noreferrer" href="https://cdubos.fr">Clément Dubos</a>
                </p>
                <!-- Buttons -->
                <div class="text-center text-md-left mt-5">
                    <a href="https://gitlab.com/cdubos-fr/merciyanis-music-store"
                       class="btn btn-neutral btn-icon d-none d-lg-inline-block" target="_blank">Sources</a>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
