
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img alt="Image placeholder" src="/static/assets/img/brand/favicon.svg" id="navbar-logo">
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Overview</a>
                    </li>
                    <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                        <div class="dropdown-menu dropdown-menu-single">
                            <a href="/" class="dropdown-item">Homepage</a>
                            <a href="/albums" class="dropdown-item">Albums</a>
                            <div class="dropdown-divider"></div>
                            {% if user is not none %}<a href="/logout"  class="dropdown-item">Logout</a>{%endif%}
                            {% if user is not none %}<a href="/cart"  class="dropdown-item">Cart</a>{%endif%}
                            {% if user is none %}<a href="/login"    class="dropdown-item">Login</a>{%endif%}
                            {% if user is none %}<a href="/register" class="dropdown-item">Register</a>{%endif%}
                        </div>
                    </li>
                </ul>
                <!-- Button -->
                <a class="navbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3"
                   target="_blank" rel="noopener noreferrer"
                   href="https://gitlab.com/cdubos-fr/merciyanis-music-store">
                    Source Code
                </a>
                <!-- Mobile button -->
                <div class="d-lg-none text-center">
                    <a href="https://gitlab.com/cdubos-fr/merciyanis-music-store"
                       target="_blank" rel="noopener noreferrer"
                       class="btn btn-block btn-sm btn-warning">See more details</a>
                </div>
                {% if user is not none %}<div class="navbar-nav mt-4 mt-lg-0 ml-auto">
                    {{user.email}}
                </div>{%endif%}
            </div>
        </div>
    </nav>
